@charset "UTF-8";

@font-face {
  font-family: "portfolio";
  src:url("../fonts/portfolio.eot");
  src:url("../fonts/portfolio.eot?#iefix") format("embedded-opentype"),
    url("../fonts/portfolio.woff") format("woff"),
    url("../fonts/portfolio.ttf") format("truetype"),
    url("../fonts/portfolio.svg#portfolio") format("svg");
  font-weight: normal;
  font-style: normal;

}

/*[data-icon]:before {
  font-family: "portfolio" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "portfolio" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.icon-bootstrap:before {
  content: "\61";
}
.icon-gulp:before {
  content: "\62";
}
.icon-jquery:before {
  content: "\65";
}
.icon-photoshop:before {
  content: "\66";
}
.icon-sass:before {
  content: "\67";
}
.icon-browsers:before {
  content: "\68";
}
.icon-responsive:before {
  content: "\69";
}

.my_icon {  
    position: relative;
    font-size: 38px;  
}

.my_icon::before {
    font-family: "portfolio" !important;
    position: absolute;
    top: 0;
    left: 0;
}

/*.browsers::before {
    content: "\61"
    font-family: "portfolio" !important;
    position: absolute
    top: 0;
    left: 0;
}*/