/* CSS Document */
/* Float Elements ---------------------------------*/
.fl-lt {
    float: left;
}

.fl-rt {
    float: right;
}

/* Clear Floated Elements ---------------------------------*/
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:hover, a:active {
    outline: 0px !important;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Primary Styles ---------------------------------*/
body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
    min-width: 320px;
    background-image: url("../img/body_bg_fon3.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 230%;
    background-color: #000;
}

#preloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#preloader_preload .cssload-loader {
    top: calc(50% - 56px);
}

h2 {
    font-size: 34px;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #222222;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Header Styles ---------------------------------*/
.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logo {
    width: 130px;
    margin: 0 auto 35px;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 22px 0;
    color: #fff;
    text-transform: uppercase;
}

.we-create {
    padding: 0;
    margin: 30px 0;
}

.wp-pic {
    margin-bottom: 20px;
}

.we-create li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fff;
    background: #e82121;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 5px 0 0;
    padding: 10px 15px 10px 15px;
}

.start-button {
    padding-left: 0px;
}

.start-button li a {
    color: #fff;
}

.link {
    display: inline-block;
    height: 50px;
    width: 200px;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.mouse {
    animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    animation-timing-function--webkit-animation-timing-function: ease;
}

/* Navigation ---------------------------------*/
.main-nav-outer {
    padding: 0px;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 4px 5px -3px #ececec;
    position: relative;
    background: #fff;
}

.main-nav {
    text-align: center;
    margin: 10px 0 0px;
    padding: 0;
    list-style: none;
}

.main-nav li {
    display: inline;
    margin: 0 1px;
}

.main-nav li a {
    display: inline-block;
    color: #222222;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    line-height: 20px;
    margin: 17px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    webkit-transition: all 0.3s ease-in-out;
}

.main-nav li a.selected {
    text-decoration: underline;
    color: red;
}

.main-nav li a:hover {
    text-decoration: none;
    color: #7cc576;
}

.small-logo {
    padding: 0 32px;
}

.main-section {
    padding: 90px 0 110px;
    background: #fff;
}

/* Services ---------------------------------*/
.service-lists {
    margin-top: 40px;
}

.service-list {
    padding: 0 0 0 0;
    font-size: 14px;
    margin-bottom: 40px;
}

.service-list-col1 {
    float: left;
    width: 60px;
}

.service-list-col1 i {
    font-style: normal;
    font-size: 38px;
    display: block;
    color: #222;
    font-family: 'FontAwesome';
    line-height: 38px;
}

.service-list-col2 {
    overflow: hidden;
}

.main-section.alabaster {
    background: #fafafa;
}

.certificate a {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 35px #222;
    margin-top: 50px;
}

.certificate a img {
    display: block;
    width: 100%;
    height: auto;
}

.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

/* Featured Work ---------------------------------*/
.featured-work {
    font-size: 14px;
}

.featured-work h2 {
    text-align: center;
}

.featured-box {
    padding: 0 10px 0 0;
    margin-bottom: 25px;
    font-size: 14px;
}

.featured-box h3 {
    margin-bottom: 5px;
}

.featured-box p {
    line-height: 22px;
}

.featured-work p.padding-b {
    padding-bottom: 35px;
}

.featured-box-col1 {
    width: 60px;
    float: left;
}

.featured-box-col1 i {
    display: block;
    line-height: 38px;
    font-family: 'FontAwesome';
    font-size: 38px;
    color: #777777;
    font-style: normal;
}

.featured-box-col2 {
    overflow: hidden;
}

/* Team  ---------------------------------*/
.team-leader-block {
    max-width: 993px;
    margin: 0 auto;
}

.team-leader-box {
    width: 100%;
    height: 490px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.main-section.team {
    padding: 85px 0;
}

.main-section.team h6 {
    margin-bottom: 40px;
}

.team-leader-box span {
    margin-bottom: 24px;
    display: block;
}

.team-leader-box:nth-of-type(3n+0) {
    margin: 0;
}

.team-leader {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 7px rgba(241, 241, 241, 0.8);
    margin: 7px 7px 25px 7px;
}

.team-leader-shadow {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 50%;
}

.team-leader-shadow a {
    display: block;
    width: 100%;
    height: 100%;
}

.team-leader:hover .team-leader-shadow {
    box-shadow: inset 0px 0px 0px 148px rgba(17, 17, 17, 0.8);
}

.team-leader:hover ul {
    display: block;
    opacity: 1;
}

.team-leader img {
    display: block;
    border-radius: 50%;
}

.team-leader ul {
    display: block;
    opacity: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -14px;
    z-index: 15;
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}

.team-leader ul li {
    display: inline;
    margin: 0 11px;
}

.team-leader ul li a {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 28px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.team-leader ul li a:hover, .team-leader ul li a:focus {
    text-decoration: none;
}

.team-leader ul li a.fa-skype:hover {
    color: #6666ff;
}

.team-leader ul li a.fa-facebook:hover {
    color: #3b5998;
}

.team-leader ul li a.fa-google-plus:hover {
    color: #dd4b39;
}

.Learn-More {
    display: inline-block;
    padding: 0 5px 0 0;
    color: #7cc576;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: none;
}

.Learn-More i {
    padding-right: 15px;
}

.Learn-More:hover, .Learn-More:focus {
    text-decoration: none;
    color: #111;
}

/* Portfolio  --------------------------------*/
.Portfolio-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.Portfolio-nav li {
    margin: 0 10px;
    display: inline;
}

.Portfolio-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li a:hover {
    background: #7cc576;
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;
}

.Portfolio-box {
    text-align: center;
    margin-bottom: 30px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    float: left;
    padding: 0;
}

.Portfolio-box h3 {
    color: #fff;
}

.Portfolio-box p {
    color: #fafafa;
    opacity: 0.8;
}

.Portfolio-box img {
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current {
    background: #7cc576;
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}

.main-section.paddind {
    padding-bottom: 60px;
    background: transparent;
}

.main-section.paddind h2 {
    color: #fafafa;
}

.main-section.paddind h6 {
    color: #fff;
}

/* Clients  ---------------------------------*/
.client-part {
    background: url(../img/section-bg1.jpg) center center no-repeat;
    background-size: cover;
    padding: 55px 0;
    text-align: center;
}

.client-part-haead {
    color: #fdfdfd;
    font-size: 28px;
    line-height: 41px;
    margin: 30px 0 10px;
    font-family: "" Open Sans ",sans-serif";
    font-style: italic;
}

.client {
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
    text-align: center;
}

.client li {
    display: inline;
    margin: 0 15px;
}

.client li .client_block {
    display: inline-block;
}

.client li .client_block img {
    margin-bottom: 15px;
    border-radius: 50%;
}

.client li .client_block:hover {
    text-decoration: none;
}

.client li .client_block h3 {
    color: #ffffff;
}

.client li .client_block span {
    color: #f1f1f1;
}

.quote-right {
    font-style: normal;
    width: 68px;
    height: 68px;
    margin: 0 auto;
    border: 2px solid #7cc576;
    border-radius: 50%;
    display: block;
    line-height: 68px;
    text-align: center;
    font-size: 27px;
    color: #7cc576;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.quote-right:hover {
    color: #fff;
    border: 2px solid #fff;
}

.c-logo-part {
    background: #fff;
    padding: 50px 0 75px 0;
    filter: alpha(opacity=60);
}

.c-logo-part ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.c-logo-part ul li a img {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: auto;
}

/* Talk Business ---------------------------------*/
.business-talking {
    background: url(../img/section-bg2.jpg) top center no-repeat;
    background-size: cover;
    padding: 60px 0 10px;
    text-align: center;
}

.business-talking h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 20px 0 70px;
    text-transform: uppercase;
    font-size: 42px;
    color: #fff;
}

/* Contact  ---------------------------------*/
.main-section.contact {
    padding: 90px 0 100px;
}

.main-section.contact {
    background: url(../img/bg-map.png) left 190px no-repeat;
}

.contact-info-box {
    font-size: 15px;
    margin: 0 0 14px 68px;
    padding-left: 0;
}

.contact-info-box h3 {
    font-size: 15px;
    font-weight: 400;
    float: left;
    width: 102px;
    margin-right: 12px;
    line-height: 28px;
    color: #fff;
}

.contact-info-box h3 i {
    font-style: normal;
    font-size: 18px;
    color: #222222;
    font-family: 'FontAwesome';
    font-weight: normal;
    margin-right: 7px;
}

.contact-info-box span {
    line-height: 28px;
    display: block;
    overflow: hidden;
    color: #fff;
}

.social-link {
    padding: 35px 0;
    margin: 0 0 0 68px;
    display: block;
    overflow: hidden;
    list-style: none;
}

.social-link li {
    float: left;
    margin-right: 8px;
}

.social-link li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    background: #222222;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-link li a:hover, .social-link li a:focus {
    text-decoration: none;
}

.facebook a:hover {
    background: #3b5998;
}

.skype a:hover {
    background: #3b679e;
    background: -webkit-linear-gradient(#3b679e 0%, #2b88d9 33%, #2b88d9 33%, #2b88d9 52%, #207cca 100%, #7db9e8 100%);
    background: linear-gradient(#3b679e 0%, #2b88d9 33%, #2b88d9 33%, #2b88d9 52%, #207cca 100%, #7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#7db9e8', GradientType=0);
}

.gplus a:hover {
    background: #dd4b39;
}

.phone a:hover {
    background: #7cc576;
    background: -webkit-linear-gradient(-45deg, #7cc576 0%, #62965a 100%);
    background: -webkit-linear-gradient(315deg, #7cc576 0%, #62965a 100%);
    background: linear-gradient(135deg, #7cc576 0%, #62965a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cc576', endColorstr='#62965a', GradientType=1);
}

.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid #7cc576;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
    height: 165px;
    resize: none;
    overflow: auto;
}

.input-btn {
    width: 175px;
    height: 50px;
    outline: none;
    background: #7cc576;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
    background: #111;
    color: #fff;
}

/* Footer ---------------------------------*/
.footer {
    background: url(../img/pw_maze_black_2X.png) left top repeat;
    padding: 20px 0;
}

.footer-logo {
    margin: 15px auto 35px;
    width: 76px;
}

.copyright {
    color: #cccccc;
    font-size: 14px;
    display: block;
    text-align: center;
}

.copyright a {
    color: #7cc576;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.copyright a:hover {
    color: #fff;
}

.res-nav_click {
    line-height: 38px;
    font-family: 'FontAwesome';
    font-size: 38px;
    text-decoration: none !important;
    color: #777777;
    font-style: normal;
    display: none;
    width: 42px;
    height: 27px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
    color: #7cc576 !important;
}

.portfolioContainer {
    max-width: 1140px;
}

/* Animation Timers ---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.delay-20s {
    animation-delay: 2.2s;
    -webkit-animation-delay: 2.2s;
}

.delay-30s {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.divError {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}
