body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-width: 320px;
}

#root {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

button {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}
